.containerCategories {
  height: 56vh;
  overflow: auto;
}

.containerCategories p {
  padding-left: 20px;
}

.containerSubCategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px !important;
  margin-right: 10px !important;
}

.categoryCard {
  border: 0.1px solid #d3d1d17d;
  grid-gap: 10px !important;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px !important;
  box-shadow: 2px 2px 2px #e2e2e2bf;
}

.detailsContainer {
  display: block;
  padding: 20px;
  color: '#585959';
  background: #fafafa;
  margin-bottom: 50px;
}

.hiddenDetails {
  display: none;
}

:global(.styles_modal__gNwvD.vtex-modal__modal.br2.w-100.vtex-styleguide-9-x-mh100.flex.flex-column) {
  width: 25%;
}

:global(.styles_modal__gNwvD.vtex-modal__modal.br2.w-100.vtex-styleguide-9-x-mh100.flex.flex-column
    button) {
  float: right;
  margin-top: 10px;
}

:global(.styles_modal__gNwvD.vtex-modal__modal.br2.w-100.vtex-styleguide-9-x-mh100.flex.flex-column)
  :global(.vtex-modal__close-icon.absolute.top-0.right-0.pa5.pa6-ns.pointer.ml-auto.items-center.flex) {
  display: none;
}
